:root {
  font-size: 10px;
  font-family: "Trebuchet MS", serif;
}

html,
body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: floralwhite;
}

.invisible {
  visibility: hidden;
}

#nav-button {
  position: absolute;
  display: flex;
  background-color: transparent;
  border: transparent;
  border-radius: 50%;
  margin: 1rem;
  padding: 2rem;
}

#nav-button:hover {
  background-color: rgba(30, 30, 30, 0.2);
  cursor: pointer;
}

header {
  text-align: center;
  background-color: darkcyan;
  padding: 2rem;
}
h1 {
  margin: 0;
  font-size: 4rem;
}

nav {
  position: fixed;
  max-width: 0px;
  width: 100%;
  overflow: hidden;
  height: 100%;
  transition: max-width 0.2s ease;
}

#nav-header {
  text-align: center;
  font-size: 3rem;
}

#nav-project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-item {
  font-size: 2rem;
  border: transparent;
  background-color: transparent;
  margin: 0.5rem;
  padding: 1rem;
}

.nav-item:hover {
  cursor: pointer;
  border-bottom: 1px solid;
  transform: translateY(-5px);
}

main {
  transition: margin-left 0.2s ease;
}

#new-project-container {
  text-align: center;
  margin: 3rem;
}

#new-project-name {
  border: 1px solid;
  font-size: 2rem;
}

#new-project-button {
  font-size: 2rem;
  margin-left: 1rem;
}

#new-project-button:hover {
  background-color: rgba(30, 30, 30, 0.2);
  cursor: pointer;
  transform: translateY(-2px);
}

#current-project-container {
  margin-top: 10rem;
  text-align: center;
}

#current-project-title {
  font-size: 3rem;
  text-align: center;
}

#new-item-container {
  display: flex;
  margin: 1rem 10rem;
  justify-content: space-between;
}

#new-item-button {
  padding: 0.5rem;
}

#new-item-button:hover {
  background-color: rgba(30, 30, 30, 0.2);
  cursor: pointer;
  transform: translateY(-2px);
}

#current-project-items-container {
  border: 1px solid;
  background-color: rgba(30, 30, 30, 0.2);
  margin: 5rem 5rem;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.collapsible {
  display: flex;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.collapsible {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  justify-items: left;
}

.collapsible:hover {
  transform: translateY(-5px);
  border-bottom: 5px solid black;
}

.collcontent {
  max-height: 0px;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
  margin-left: 5rem;
  text-align: left;
}

.item-parent {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 0.05fr;
  margin: 1.5rem;
}

#remove-button {
  width: 50%;
  display: inline-block;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  border-radius: 50%;
}

#remove-button:hover {
  transform: scale(110%);
}

#remove-project-button {
  font-size: 2rem;
  padding: 1rem;
}

#remove-project-button:hover {
  background-color: rgba(30, 30, 30, 0.2);
  cursor: pointer;
  transform: translateY(-2px);
}

@media screen and (max-width: 900px) {
  #new-item-container {
    flex-direction: column;
  }
  .form-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 600px) {
  #current-project-items-container {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
  }
  #new-project-button {
    margin-top: 1rem;
  }
}
